<nav class="sidebar">
    <ul class="list-unstyled">
        <li><a href="/home"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>


        

        <li>
            <a href="#submenu11" data-toggle="collapse">
                <i class="fas fa-user"></i> Movimentos
            </a>
            <ul id="submenu11" class="list-unstyled collapse">
                <li><a href="/form-carregamento"><i class="fa-solid fa-money-bill-1"></i> Registrar Carregamento</a></li>
                <li><a href="/form-apontamentos"><i class="fa-solid fa-money-bill-1"></i> Registrar Apontamentos</a></li>
                <li><a href="/movimentos"><i class="fa-solid fa-money-bill-1"></i> Lista de Movimentos</a></li>
                <li><a href="/saldos"><i class="fa-solid fa-money-bill-1"></i> Saldo dos Silos</a></li>
                
            </ul>
        </li>

        <li>
            <a href="#submenu1" data-toggle="collapse">
                <i class="fas fa-user"></i> Usuários
            </a>
            <ul id="submenu1" class="list-unstyled collapse">
                <li><a href="/form-usuarios"><i class="fas fa-users"></i> Cadastrar Usuário</a></li>
                <li><a href="/usuarios"><i class="fas fa-users"></i> Usuários</a></li>

            </ul>
        </li>

        <li><a href="/admin/logout"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
    </ul>
</nav>

