<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Editar Carregamento</h2>
            </div>
            <div class="p-2">
                <a href="/movimentos">
                    <button class="btn btn-outline-info btn-sm">
                        Listar
                    </button>
                </a>
            </div>
        </div>
        {{>_msg}}
        <hr>
        <form action="/add-carregamento" method="POST">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span> Nome</label>
                    <input name="id_usuario" type="text" class="form-control" id="nome" placeholder="Nome" value="" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span>Silo</label>
                    <select name="silo" class="form-control" id="">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span>Produto</label>
                    <select name="produto" class="form-control" id="">
                        <option>MP-001-1-03 Trioxido de Molibdênio</option>
                        <option>I-002-2-03 Alumínio AT</option>
                        <option>I-001-1-03 Ferro Silício</option>
                        <option>I-003-1-03 Hematita</option>
                        <option>MP-003-1-03 Scheelita</option>
                        <option>I-002-1-02 Alumínio ICA</option>
                        </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span>Quantidade (TN)</label>
                    <input name="quantidade" type="text" class="form-control" id="" placeholder="Quantidade" value="" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span>Lote</label>
                    <input name="lote" type="text" class="form-control" id="" placeholder="Lote" value="" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span>Data</label>
                    <input name="data" type="text" class="form-control" id="" placeholder="Data" value="" required>
                </div>
            </div>
            

            <p>
                <span class="text-danger">* </span>Campo obrigatório
            </p>
            <button type="submit" class="btn btn-warning">Salvar</button>
        </form>
    </div>
</div>
